
.selections{
    display: flex;
    height: 200px;
    flex-direction: column;
    width: 100%;
}

.selection-head{
    display: flex;
    width: 100%;
    margin: 1%;
    font-weight: 600;
}

.w-20{
    width: 20%;
}

